<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="APT"
            id="APT">
      </category>
      <view
            class="com.tencent.wstt.apt.ui.views.DevicesView"
            icon="icons/cellphone_16.png"
            id="com.tencent.wstt.apt.ui.views.DevicesView"
            name="进程列表"
            restorable="true">
      </view>
      <view
            class="com.tencent.wstt.apt.ui.views.MemoryView"
            icon="icons/memory_16.png"
            id="com.tencent.wstt.apt.ui.views.MemoryView"
            name="内存"
            restorable="true">
      </view>
      <view
            class="com.tencent.wstt.apt.ui.views.CPUView"
            icon="icons/cpu_16.png"
            id="com.tencent.wstt.apt.ui.views.CPUView"
            name="CPU"
            restorable="true">
      </view>
      <view
            class="com.tencent.wstt.apt.ui.views.SettingView"
            icon="icons/setting_16.png"
            id="com.tencent.wstt.apt.ui.views.SettingView"
            name="设置"
            restorable="true">
      </view>
      <view
            category="APT"
            class="com.tencent.wstt.apt.ui.views.PMAPView"
            icon="icons/pie.png"
            id="com.tencent.wstt.apt.ui.views.PMAPView"
            name="PMAP"
            restorable="true">
      </view>
      <view
            category="APT"
            class="com.tencent.wstt.apt.ui.views.StubAnalysisView"
            icon="icons/stub_analysis.png"
            id="com.tencent.wstt.apt.ui.views.StubAnalysisView"
            name="StubAnalyzer"
            restorable="true">
      </view>
      <view
            category="APT"
            class="com.tencent.wstt.apt.ui.views.SMAPSView"
            id="com.tencent.wstt.apt.ui.views.SMAPSView"
            name="SMAP"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.tencent.wstt.apt.ui.perspective.MainPerspectiveFactory"
            icon="icons/apt.png"
            id="com.tencent.wstt.apt.ui.perspective.MainPerspectiveFactory"
            name="APT">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="com.tencent.wstt.apt.console.APTConsoleFactory"
            label="APTConsole">
      </consoleFactory>
   </extension>

</plugin>
